:root {
  /*Variables*/
  --light_gray: #f9f9f9;
  --main_color: #179387;
  --dark_purple: #6b48ff;
  --dark_blue: #0d3f67;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--dark_blue);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 994px;
  margin: 40px auto;
}
.logo {
  display: flex;
  width: 85px;
  height: 85px;
}
a {
  color: inherit;
  text-decoration: none;
}
a.active {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}
.menu ul li {
  list-style: none;
  display: inline;
  margin-left: 32px;
}

.heroBanner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #f9f9f9;
  padding: 46px 0;
}
.textHeroBanner {
  flex: 1;
  max-width: 460px;
}
.textHeroBanner h1 {
  font-size: 24px;
  font-weight: bold;
}
.textHeroBanner h3 {
  font-weight: normal;
  margin-bottom: 80px;
}
.imgHeroBanner {
  flex: 1;
  max-width: 310px;
}

.imgHeroBanner img {
  width: 100%;
}

.button {
  border: inherit;
  font-family: inherit;
  text-align: center;
  font-size: 24px;
  color: white;
  padding: 11px 80px;
  background: var(--dark_purple);
  border-radius: 20px;
  max-width: 287px;
  max-height: 51px;
  cursor: pointer;
}

@media (max-width: 1016px) {
  header,
  .heroBanner {
    padding: 20px 40px;
  }
}

@media (max-width: 440px) {
  .textHeroBanner h3 {
    display: none;
  }

  .textHeroBanner h1 {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .button {
    font-size: 14px;
    padding: 11px 30px;
  }
}

@media (max-width: 340px) {
  .menu ul li {
    margin-left: 25px;
  }
  .menu ul {
    padding: 0;
  }
}
