html {
margin: 0px;
}

:root {
/*Variables dentro del CSS*/
/*COLORES*/
--light_gray: #f9f9f9;
--main_color: #179387;
--dark_purple: #6b48ff;
--dark_blue: #0d3f67;
}

/*Generales*/
body {
font-family: "Roboto", sans-serif;
font-size: 16px;
color: var(--dark_blue);
font-weight: normal;
font-style: normal; 
font-stretch: normal;
letter-spacing: normal;
margin: 0px;
padding: 0px;
}
/*Header*/
header {
display: flex;
align-items: center;
justify-content: space-between;
max-width: 994px;
margin: 40px auto;
}
.logo {
display: flex;
width: 85px;
height: 85px;
}
a {
color: inherit;
text-decoration: none;
}
a.active {
color: inherit;
font-weight: bold;
text-decoration: underline;
}
.menu ul li {
list-style: none;
display: inline;
margin-left: 32px;
}

.banner {
display: flex;

}
/*Hero Banner Home Page*/
.heroBanner {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 background-color: #f9f9f9;
 padding: 46px 0;
 margin-bottom: 40px;
}
.textHeroBanner {
 flex: 1;
 max-width: 460px;
}
.textHeroBanner h1 {
 font-size: 24px;
 font-weight: bold;
}
.textHeroBanner h3 {
 font-weight: normal;
 margin-bottom: 80px;
}
.imgHeroBanner {
 flex: 1;
 max-width: 310px;
}

.imgHeroBanner img {
 width: 100%;
}
.button {
 border: inherit;
 font-family: inherit;
 text-align: center;
 font-size: 24px;
 color: white;
 padding: 11px 80px;
 background: var(--dark_purple);
 border-radius: 20px;
 max-width: 287px;
 max-height: 51px;
 cursor: pointer;
}
/*Termina CSS del Hero Banner Home Page*/

div .content {
width: 800px;
height: 300px;
font-family: Roboto;
font-size: 20px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.3;
letter-spacing: normal;
color: #0d3f67;
margin-left: 221px;
padding-top: 10px;
display: flex;
}
/*estilo imagen*/
div .banner, .social {
width: 700px;
height: 300px;
margin-right: 221px;
margin-left: 90px;
display: flex;
background: #179387;
}

.social {
height: 100px;
}
/*estilo texto*/
.countries {
padding-top: 70px;
align-items: flex-start;
display: flex;
justify-content: center;
justify-content: space-between;
 border: 0px solid rgba(0, 0, 0, 0);
 border-collapse: separate;
 border-spacing: 6px;
 margin-left: 150px;

}

/*.conex {
background: white;
color: black;
height: 600px;
align-items: flex-start;
display: flex;
justify-content: center;
justify-content: space-between;

}*/

img {
 height: auto;
 max-width: 100%;
}
/*estilos a los enlaces con las banderas de los paises*/
.chFlag {
margin-left: 110px;
}

.brFlag {
margin-left: 145px;
}

.meFlag {
margin-left: 155px;
/*margin-right: 150px;
*/} 

.peFlag {
	margin-left: 165px;
	margin-right: 250px
}

.conex {
 display: flex;
 margin: 30px auto;
}



/*conexiones a href*/
div .conexCh, .conexBr, .conexPe {
 border: inherit;
 font-family: inherit;
 text-align: center;
 font-size: 18px;
 color: white;
 padding: 15px 40px;
 background: darkgray;
 border-radius: 20px;
 align-items: flex-start;

}

/*estilos a los enlaces a href de cada pais*/
.conexCh {
margin-left: 245px;
text-align: center;
}

.conexBr {
margin-left: 85px;
text-align: center;
}

.conexMe {
margin-left: 95px;
margin-right: 115px;
text-align: center;
border: inherit;
 font-family: inherit;
 text-align: center;
 font-size: 18px;
 color: white;
 padding: 15px 30px;
 background: darkgray;
 border-radius: 20px;
 align-items: flex-start;

}

.conexPe {
margin-right: 230px;
text-align: center;
}

.banner, .conex {
justify-content: space-between;

}

/*linea divisoria entre footer resto del contenido*/
.Path-113 {
  width: 100%;
  height: 8px;
  object-fit: contain;
  background-color: #179387;
  border: 0px;

}

a:hover {
background: #6b48ff;
}
/*
.button {
	background: none;
	margin-bottom: 0px;

}*/
/*Informaciónm HomePage*/
.information {
 display: flex;
 justify-content: space-evenly;
}
.info img {
 height: 135px;
 width: auto;
}
/*Termina CSS de Información HomePage*/

<div class="startButton">
         <a class="button" href="countries.html">COMENZAR</a>
       </div>

       /*Footer*/
.divBar hr {
 background-color: var(--main_color);
 height: 8px;
}
.infoFooter {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 994px;
 margin: 20px auto;
}
.RRSS {
 align-items: center;
}
.socialRedes {
 display: inline-flex;
 align-items: center;
}
.socialRedes img {
 width: 36px;
 padding-left: 54px;
}
.socialRedes a {
 padding-left: 10px;
}
/*Termina CSS footer*/

/*RESPONSIVE del Home Page incluye header y footer*/


@media (max-width: 1016px) {
  header,
  .infoFooter {
    padding: 20px 40px;
  }
}

@media (max-width: 440px) {
  .button {
    font-size: 14px;
    padding: 11px 30px;
  }
}

@media (max-width: 340px) {
  .menu ul li {
    margin-left: 25px;
  }
  .menu ul {
    padding: 0;
  }
}


@media (max-width: 600px) {
  .social a {
    display: none;
  }
}

/*RESPONSIVE 2da Página*/


/*estilo donas con valor máximo y promedio*/
div #donas; {
  height: 10%;
  background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-160/so1.png) no-repeat center center;

}
div #leftDona {
  width: 50%;
  float: left;
}
div #rightDona {
  width: 50%;
  float: right;
}

